<%- include('../header.ejs') %>
<div class="container-fluid" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
               <table style="border:1px solid white;width: 200px;background: grey;color:white;cursor: pointer;" class="alpha">
                <tr>
                    <td class="alpha"><a href="/admin/dashboard" class="alpha" style="text-decoration: none;color:white;font-size: 18px;padding-left: 5px;">Dashboard</a></td>
                  
                </tr>
               </table>
               <table style="border:1px solid white;width: 200px;background: grey;color:white;cursor: pointer;" class="mt-2 alpha">
                <tr style="border:1px solid white;">
                    <td class="alpha"><a href="/admin/blogdisplay" class="alpha" style="text-decoration: none;color:white;font-size: 18px;padding-left: 5px;">Display Blog</a></td>
                  
                </tr>
               </table>
               <table style="border:1px solid white;width: 200px;background: grey;color:white;cursor:pointer" class="mt-2 alpha">
                <tr style="border:1px solid white;">
                    <td class="alpha"><a href="/admin/category/display" class="alpha" style="text-decoration: none;color:white;font-size: 18px;padding-left: 5px;">Categories</a></td>
                  
                </tr>
               </table>

               <table style="border:1px solid white;width: 200px;background: grey;color:white;cursor: pointer;" class="mt-2 alpha">
                <tr style="border:1px solid white;">
                    <td class="alpha"><a href="/admin/contact/display" class="alpha" style="text-decoration: none;color:white;font-size: 18px;padding-left: 5px;">Contact</a></td>
                  
                </tr>
               </table>
              
               <table style="border:1px solid white;width: 200px;background: grey;color:white;cursor:pointer" class="mt-2 alpha">
                <tr style="border:1px solid white;">
                    <td class="alpha"><a href="/admin/about/display" class="alpha" style="text-decoration: none;color:white;font-size: 18px;padding-left: 5px;">About</a></td>
                  
                </tr>
               </table>
               <table style="border:1px solid white;width: 200px;background: grey;color:white;cursor:pointer" class="mt-2 alpha">
                <tr style="border:1px solid white;">
                    <td class="alpha"><a href="/login" class="alpha" style="text-decoration: none;color:white;font-size: 18px;padding-left: 5px;">Logout</a></td>
                  
                </tr>
                
               </table>
            </div>
            <div class="col-md-6">
                <h2 style="margin-left: -250px;">Welcome <%= n %> <br> <b>Your <%= e %></b></h2>
                <p style="margin-left: -250px;">The blogging project is a client-server Web application built over an RDBMS. Blogging, short for web logging, is an application that runs on a portal site, in which different users (and user groups) can publish and revise daily journal entries, and these entries will be made public for others to view.</p>
            </div>
        
        </div>
    </div>

</div>
<div class="container-fluid bg-secondary " style="margin-top: 240px;">
   <div class="container">
    <div class="row">
        <h2 class="text-white text-center">Thank You for reading!</h2>
        <h4 class="text-white text-center">if you enjoyed this post.please feel free to share it.</h4>
    </div>
   </div>
</div>

<%- include('../footer.ejs') %>

