<%- include('./header.ejs') %>
<div class="container-fluid">
    <div class="container ">
        <h1
            style="text-align: center; font-size: 40px; padding-top: 100px; font-family: prague; margin-bottom: 50px;">
            About <b style="color: #fbac19;">Blog Project</b></h1>
        <div class="row">
            <div class="col-md-7">
                <p class="b">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates dignissimos eligendi labore repellat tempora aspernatur accusamus quas totam nihil debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quis perferendis laborum id ducimus commodi nostrum facere natus blanditiis asperiores?

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim dolorum assumenda at delectus aperiam consequatur tempore natus excepturi ducimus mollitia! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quisquam repellat recusandae dolore est quibusdam, magnam iure! Ut, nobis voluptates.
                </p>
            </div>
            <div class="col-md-5 text-center">
                <img src="image/dfd.jpg" class="img123 shadow-lg">
            </div>
        </div>
    </div>

</div><!--conatiner ends-->
</div><!--conatiner fluid ends-->


    </div><!--conatiner fluid-->
</div><!--conatiner fluid ends-->
<!--container starts-->
<div class="container-fluid">
    <div class="container">
        <h1
            style="text-align: center; font-size: 40px; padding-top: 20px; font-family: prague; margin-bottom: 50px;margin-top: 30px;">
            THE MAN BEHIND <b style="color: #fbac19;">Blog Tech</b></h1>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="image/31.jpg" class="w-100">
            </div>
            <div class="col-md-8">
                <p
                    style=" color: rgba(164, 158, 149, 0.886);    font-size: 15px;line-height: 35px;letter-spacing: 1px; word-spacing: 2px; text-align: justify;">
                    With over 30 restaurants in 23 years under his belt, the prolific restaurateur Priyank
                    Sukhija has become somewhat of a legend in the industry, starting his journey at a mere age of
                    19. Priyank was the first in his family to venture into business, hailing from a family of
                    lawyers, going on to create an empire in F&B. Following his heart and tongue through his F&B
                    career, Priyank has successfully created some of the most talked-about brands in the industry -
                    Diablo, Lord of the Drinks, Plum by Bent Chair, Lazeez Affaire, Tamasha, The Flying Saucer Cafe,
                    and many more.</p>

            </div>
        </div>
    </div>
</div><!--conatiner fluids ends-->
<!--container starts-->
<div class="container-fluid mt-3 mb-3">
    <div class="container">
        <h2
            style="text-align: center; font-size: 40px; padding-top: 20px; font-family: prague; margin-bottom: 50px;margin-top: 30px;">
            JOIN <b style="color: #fbac19;">OUR FAMILY</b></h2>
        <div class="row">
            <div class="col-md-8">
                <p
                    style=" color: rgba(164, 158, 149, 0.886);    font-size: 15px;line-height: 35px;letter-spacing: 1px; word-spacing: 2px; text-align: justify;">

                    At Blog Tech Restaurants, we leave no stone unturned to provide the most desirable experience
                    across markets and restaurants. Serving over five lakh customers monthly with 15+ brands and 35+
                    restaurants, our brands like Diablo, Plum by Bent Chair, Dragonfly Experience, Tamasha, Daddy,
                    JLWA,
                    and more have revolutionized the experience of dining & nightlife for everyone. Exploring a
                    franchise with Blog Tech Restaurants provides you with a large existing customer base besides
                    the
                    added advantage of nation-wide recognition.</p>
                <button class="btn btn-warning shadow-lg width:26%"
                    style="color: white; margin-top: 20px;">FRANCHISE WITH US</button>
            </div>
            <div class="col-md-4 text-center">
                <img src="  https://www.firstfiddle.in/assets/images/about/333X3322.jpg" class="img123 shadow-lg">
            </div>
        </div>
    </div>
</div><!--conatinerends-->

<%- include('./footer.ejs') %>