<%- include('./header.ejs') %>

        <!--banner starts-->
        <div class="container-fluid c">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 card body"
                        style="margin-top: 160px; background-color: pink;  color: white; border-radius: 10px;">
                        <h3 style="text-align: center; padding-top: 10px;">
                            INQUIRY FORM
                            <hr>
                        </h3>
                        <P style="text-align: center;color: black; margin-top: -16px;">For more information about how you
                            can become the part
                            of Blog
                            Tech Restaurants, submit your
                            information below and the Franchise Manager will get in touch with you</P>
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    Name*<br>
                                    <input type="text" name="n" placeholder="Name"
                                        style="width: 100%;border-radius: 6px;border: none;padding: 6px; margin-top: 6px;">
                                    Email*<br>
                                    <input type="email" name="e" placeholder="Email" required
                                        style="width: 100%;border-radius: 6px;border: none;padding: 6px; margin-top: 6px;">
                                    Investment Budget*<br>
                                    <select required
                                        style="width: 100%;border-radius: 6px;border: none;padding: 6px; margin-top: 6px;">
                                        <option>Investment Budget</option>
                                        <option>1CR to 2CR</option>
                                        <option>3CR to 4CR</option>
                                        <option>2CR to 3CR</option>
                                        <option>5CR to 6CR</option>
                                    </select>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    Mobile*<br>
                                    <input type="number" name="m" placeholder="Mobile"
                                        style="width: 100%;border-radius: 6px;border: none;padding: 6px; margin-top: 6px;">
                                    Location*<br>
                                    <input type="text" name="l" placeholder="Location" required
                                        style="width: 100%;border-radius: 6px;border: none;padding: 6px; margin-top: 6px;">
                                    Brands*<br>
                                    <select required
                                        style="width: 100%;border-radius: 6px;border: none;padding: 6px; margin-top: 6px;">
                                        <option>Investment Budget</option>
                                        <option>Lord od rings</option>
                                        <option>Miso sexy</option>
                                        <option>Daddy every day bar</option>
                                        <option>Diablo</option>
                                    </select>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        Message*<br>
                                        <textarea name="m" placeholder="Message" rows="" cols=""
                                            style="width: 100%; border-radius: 6px; border:none;padding: 6px; margin-top: 10px;"></textarea>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <center><button
                                            style=" margin: 10px; background-color:  #00000099;color: white;width: 27%;border-radius: 16px;border: none;padding: 4px;">Submit
                                            Form</button></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<%- include('./footer.ejs') %>