<footer class="mt-3"><!--footer starts-->
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="/image/dfd.jpg"
                    style="width: 50%; margin-top: 30px;">
                <br><br>
            </div>
            <div class="col-md-7">
                <h2 class="h2"><b style="color: #ffad00;">CONTACT</b>US</h2>
                <P class="p">We're a team focusing on redefining the way the hospitality industry works by bringing
                    in concept based restaurants across India. We are truly committed to catering to the
                    ever-changing cosmopolitan taste of the customer and revolutioning the S&S Blog industry!</P>
                <div class="row">
                    <div class="col-md-6 food">
                        <h3 style="color: #ffad00;">Address</h3>
                        <p>S-357 2nd floor, Block S, Jagram Nagar, Bhind, M.P, Bhind 477001
                        </p>
                    </div>
                    <div class="col-md-6 food">
                        <h3 style="color: #ffad00;">Franchise Enquiry</h3>
                        <p>Mobile:<b style="color: #ffad00;"> +91 8839336599</b> <br>
                            Email:<b style="color: #ffad00;"> tech@blog.in</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 food">
                        <h3>Hr Enquiry</h3>
                        Mobile:<b style="color: #ffad00;"> +91 9999304427</b> <br>
                        Email:<b style="color: #ffad00;"> hr@techblog.in</b></p>
                    </div>
                    <div class="col-md-6 food">
                        <h3>Other Enquiry</h3>
                        <p>Email:<b style="color: #ffad00;">customercare@techblog.in</b></p>
                    </div>
                </div>
                <div class="icon">
                    <a href=""><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i
                            class="fab fa-facebook-square fa-2x"></i></a>
                    <a href=""><i
                            class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i
                            class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div><!--conatiner fluid ends-->
</footer><!--footer ends-->
<div class="container-fluid bottom">
    <div class="row text-center" style="display: block;">
        <p _ngcontent-khd-c2="" class="copyright-text" style=" font-size:13px;color: white;margin-top: 0px;
        margin-bottom: 0rem;">
            <a _ngcontent-khd-c2="" routerlink="/employee-policy" style="text-decoration: none; color: #fff;"
                ng-reflect-router-link="/employee-policy" href="/employee-policy">EMPLOYEE POLICIES</a>
            |
            <a _ngcontent-khd-c2="" routerlink="/privacy-policy" style="text-decoration: none; color: #fff;"
                ng-reflect-router-link="/privacy-policy" href="/privacy-policy">PRIVACY POLICY</a>
            |
            <a _ngcontent-khd-c2="" routerlink="/terms-conditions" style="text-decoration: none; color: #fff;"
                ng-reflect-router-link="/terms-conditions" href="/terms-conditions">TERMS AND CONDITIONS</a> | <a
                _ngcontent-khd-c2="" routerlink="/blog" style="text-decoration: none; color: #fff;"
                ng-reflect-router-link="/blog" href="/blog">BLOG</a>
            |
            <a _ngcontent-khd-c2="" routerlink="/qr" style="text-decoration: none; color: #fff;"
                ng-reflect-router-link="/qr" href="/qr">APP</a>
            <br _ngcontent-khd-c2="">COPYRIGHT © 2023 <a_ngcontent-khd-c2="" href="http://www.firstfiddle.in"
                style="color: white;text-decoration: none;" target="_blank">S&S &amp;Blog PRIVATE LIMITED</a>
        </p>
    </div>


</div><!--conatiner fluids ends-->
</body>

</html>
