.weblogo{
    width: 65px;
    
}
.navbar{
    background: #0000009e !important;
}
.navbar-nav li{
    padding: 0 30px;
}
.navbar-nav li a{
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
}
.medialogo{
    display: none;
}
@media(max-width:768px)
{
.medialogo{
    display: block;
}
.weblogo{
    display: none;
}
.navbar{
    background: #fbac19 !important;
}
.banner{
    margin-top: 16%;
}
}
.a {
    font-family: 'prague';
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.b {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
    margin-bottom: 90px;
}

.img123 {
    width: 80%;
}

.c {
    background: url('https://www.firstfiddle.in/assets/images/bannerabout.jpg');
    width: 100%;
    background-size: cover;
    margin-top: 30px;
}
.cc{
    background: url('	https://www.firstfiddle.in/assets/images/outletbanner.png');
    width: 100%;
    background-size: cover;
    margin-top: 30px;
}

.d {
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
    color: white;
    margin-top: 102px;
    font-size: 36px;
}

.e {
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 1rem;
    font-size: 16px;
}
.F h2{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.g{
    
}

footer {
    background: #020306f0;
    padding: 50px;
    color: #fff;
}


footer .h2 {
    font-family: 'prague';
    font-size: 2 rem;
    line-height: 50px;
    letter-spacing: 3px;
    color: #fff;
}

footer .p {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;

}

footer food {
    padding: 15px;
}

.icon i {
    font-size: 35px;
    color: #fbaa1a;
    font-family: "Font Awesome 5 Brands";
    padding-right: 15px;
    line-height: 2;
}
.bottom{
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.alpha:hover{
    background-color: green;
    

}